@{
    ViewBag.Title = "About";
}
<h2>About Us.</h2>

<p>This is the senior project of Giuilana Conte, Ryan Arvizu, and Nick Charles.</p>

<p>Here are the sources we used for code:</p>

<ul>
    <li>
        <a href="https://azmind.com/bootstrap-sidebar-menu/">Sidebar menu</a>
    </li>
</ul>
