@{
    ViewBag.Title = "About";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2><strong>About Us.</strong></h2>

                <p>This is the senior project of Giuilana Conte, Ryan Arvizu, and Nick Charles.</p>

                <p>This was our technology stack:</p>

                <ul>
                    <li><a href="https://www.postgresql.org/">PostgreSQL</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/dotnet/standard/net-standard">ASP.NET</a></li>
                    <li><a href="https://nodatime.org/">NodaTime</a></li>
                    <li><a href="https://www.npgsql.org/">Npgsql</a></li>
                    <li><a href="https://www.github.com/">GitHub</a></li>
                    <li><a href="https://getbootstrap.com/">Bootstrap</a></li>
                    <li><a href="https://jquery.com/">Jquery</a></li>
                    <li><a href="https://jquery.com/">Heroku</a></li>

                </ul>

                <p>Here are the other resources we used for code:</p>

                <ul>
                    <li>
                        <a href="https://azmind.com/bootstrap-sidebar-menu/">Sidebar menu</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>