@model ensemble_webapp.ViewModels.LoginVM

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<p>login</p>
@using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <label for="logInUser.StrUsername">Username</label>
        @Html.EditorFor(m => m.logInUser.StrUsername)
        <br />
        <label for="logInUser.StrPassword">Password</label>
        @Html.EditorFor(m => m.logInUser.StrPassword)

    </p>
}

<br />
<br />
<br />

<p>new user</p>
@using (Html.BeginForm("NewUser", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <label for="newUser.StrUsername">New Username</label>
        @Html.EditorFor(m => m.newUser.StrUsername)
        <br />
        <label for="newUser.StrPassword">New Password</label>
        @Html.EditorFor(m => m.newUser.StrPassword)
    </p>
}