
@{
    ViewBag.Title = "GenerateReport";
}


    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="mt-5 pt-4">
                    <a href="@Url.Action("Index", "Home")" style="border-bottom: none;"><img src="~/Content/assets/img/logo@2x.png" /></a>
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2><strong>Generated Report</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @*rehearsal details (location, dtm, duration, lstmembers, group, event)*@
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @*list attendance actual here*@
            </div>
        </div>
    </div>

