@model ensemble_webapp.ViewModels.ReportsHomeVM
@{
    ViewBag.Title = "ReportsHome";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2><strong>Reports</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="select-rehearsal-part" class="row select-rehearsal-part">
                    @using (Html.BeginForm("MakeReport", "Reports", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <label for="ChosenRehearsal.IntRehearsalID">Choose Rehearsal Report</label>
                        @Html.DropDownListFor(m => m.ChosenRehearsal.IntRehearsalID, new SelectList(Model.LstAllRehearsals, "intRehearsalID", "dateWithEvent"), new { @class = "form-control" })
                        <br />
                        <input type="submit" value="generate report" class="form-control btn-primary" />
                    }
                </div>
            </div>
        </div>
    </div>