@model ensemble_webapp.ViewModels.ConflictsHomeVM
@{
    ViewBag.Title = "ConflictsHome";
}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2><strong>Conflicts</strong></h2>
            </div>
            <div class="col-12">
                @if (Model.LstConflicts.Any())
                {
                    <p>current conflicts</p>
                    <ul>
                        @foreach (var c in Model.LstConflicts)
                        {
                            <li>
                                <p>Start: @c.DtmStartDateTime</p>
                                <p>End: @c.DtmEndDateTime</p>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <p>You currently have no conflicts.</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3>Add a conflict:</h3>
            </div>
        </div>

        <div class="row add-conflict">
            <div class="col-12">
                @using (Html.BeginForm("AddConflict", "Conflict", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <label for="newConflict.dtmStartDateTime">Start Time</label>
                    @Html.EditorFor(m => m.ConflictToAdd.DtmStartDateTime, new { htmlAttributes = new { @class = "datetimepicker form-control" } })
                    <br />
                    <label for="newConflict.dtmStartDateTime">End Time</label>
                    @Html.EditorFor(m => m.ConflictToAdd.DtmEndDateTime, new { htmlAttributes = new { @class = "datetimepicker form-control" } })
                    <br />
                    <input type="submit" value="add conflict" class="form-control btn-primary" />
                }
            </div>

        </div>
    </div>