@model ensemble_webapp.ViewModels.ConflictsHomeVM
@{
    ViewBag.Title = "ConflictsHome";
}

<h2>Conflicts Home</h2>


<p>
    list of this user's conflicts here
</p>

<p>
    form and button to add conflicts
</p>