@model ensemble_webapp.ViewModels.ScheduleHomeVM
@{
    ViewBag.Title = "ScheduleHome";
}

<h2>ScheduleHome</h2>



<p>
    list of this user's upcoming rehearsals here
</p>

<p>
    button to go to confilcts page down here somewhere
</p>