@using ensemble_webapp.Database

@model ensemble_webapp.ViewModels.CheckInOutViewVM
@{
    ViewBag.Title = "CheckInOutView";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><strong>Check-In/Out Members</strong></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Choose Members to Check In</p>
        </div>
        <div class="col-6">
            @if (!Model.UsersNotCurrentlyAtRehearsal.Any())
            {
                using (Html.BeginForm("CheckUserIn", "CheckInOut"))
                {
                    foreach (var u in Model.UsersNotCurrentlyAtRehearsal)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="selected users" value="@u.StrName"
                                       @if (Model.UsersCurrentlyAtRehearsal.Contains(u)) { <text> already checked in </text> } /> @u.StrName
                                </label>
                            </div>
                        }
                        <input type="submit" value="check users in" class="form-control btn-primary" />
                    }
                }
            }

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Choose Members to Check In</p>
        </div>
        <div class="col-6">
            @if (!Model.UsersCurrentAtRehearsal.Any())
            {
                using (Html.BeginForm("CheckUserOut", "CheckInOut"))
                {

                    foreach (var u in Model.UsersCurrentlyAtRehearsal)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="selected users" value="@u.StrName"
                                       @if (Model.UsersNotCurrentlyAtRehearsal.Contains(u)) { <text> not yet checked in </text> } /> @u.StrName
                                </label>
                            </div>
                        }
                        <input type="submit" value="check users out" class="form-control btn-primary" />
                    }
                }
            }

        </div>
    </div>
</div>