@using ensemble_webapp.Database

@model ensemble_webapp.ViewModels.CheckInOutViewVM
@{
    ViewBag.Title = "CheckInOutView";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><strong>Check-In/Out Members</strong></h2>
        </div>
    </div>
    @*
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Member</th>
                <th>Check In</th>
            </tr>
        </thead>
        @foreach (var t in Model.UsersNotCurrentlyAtRehearsal)
        {
            <tr>
                <td>@t.StrName</td>
                <td><input type="button" value="Check In!" class="btn btn-success" onclick="location.href='@Url.Action("CheckUserIn", "CheckInOut")?intUserID=' + @t.IntUserID"/></td>
            </tr>
        }
    </table>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <input type="submit" value="Complete Rehearsal" class="form-control btn-success btn" />
                @if (Model.UsersNotCurrentlyAtRehearsal.Any())
                {
                    <br /><br />
                    <div class="text-small"><i>Any users not yet checked out will be checked out now.</i></div>
                }
            </div>
        </div>
    </div>
        *@
</div>