
@{
    ViewBag.Title = "CheckInOutHome";
}

    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h2>Check-In/Out</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12">
                <p>Choose a Rehearsal Part</p>
            </div>
        </div>
        <hr />
        @*toggle the bottom two somehow based on rehearsal parts*@
        <div class="row">
            <div class="col-12">
                <p>Choose Members to Check In</p>
            </div>
            <div class="col-6">
                @*
                !if users to check in.Any()
                {
                    list checkboxes for members to check in
                }
                    <input type="submit" value="check users out" class="form-control btn-primary" />
                *@
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12">
                <p>Choose Members to Check Out</p>
            </div>
            <div class="col-6">
                @*
                !if users to check out.Any()
                {
                    list checkboxes for members to check in
                }
                    <input type="submit" value="check users out" class="form-control btn-primary" />
                *@
            </div>
        </div>
    </div>