@using ensemble_webapp.Database

@model ensemble_webapp.ViewModels.CheckInOutVM
@{
    ViewBag.Title = "CheckInOutHome";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2><strong>Check-In/Out</strong></h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <p>Choose a Rehearsal Part</p>
        </div>
    </div>
</div>